package ${package_name}.rpc.api;

import cxb.chen.common.base.BaseService;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* ${model}Service接口
* @author chen on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}