<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="oneSr-urights-server"/>

    <dubbo:registry file="./oneSr-urights-server-dubbo.cache" address="zookeeper://zkserver:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 系统 -->
    <dubbo:reference id="urightsSystemService" interface="cxb.chen.urights.rpc.api.UrightsSystemService" mock="true"/>
    <!-- 组织 -->
    <dubbo:reference id="urightsOrganizationService" interface="cxb.chen.urights.rpc.api.UrightsOrganizationService" mock="true"/>
    <!-- 用户组织 -->
    <dubbo:reference id="urightsUserOrganizationService" interface="cxb.chen.urights.rpc.api.UrightsUserOrganizationService" mock="true"/>
    <!-- 用户 -->
    <dubbo:reference id="urightsUserService" interface="cxb.chen.urights.rpc.api.UrightsUserService" mock="true"/>
    <!-- 角色 -->
    <dubbo:reference id="urightsRoleService" interface="cxb.chen.urights.rpc.api.UrightsRoleService" mock="true"/>
    <!-- 权限 -->
    <dubbo:reference id="urightsPermissionService" interface="cxb.chen.urights.rpc.api.UrightsPermissionService" mock="true"/>
    <!-- 角色权限 -->
    <dubbo:reference id="urightsRolePermissionService" interface="cxb.chen.urights.rpc.api.UrightsRolePermissionService" mock="true"/>
    <!-- 用户权限 -->
    <dubbo:reference id="urightsUserPermissionService" interface="cxb.chen.urights.rpc.api.UrightsUserPermissionService" mock="true"/>
    <!-- 用户角色 -->
    <dubbo:reference id="urightsUserRoleService" interface="cxb.chen.urights.rpc.api.UrightsUserRoleService" mock="true"/>
    <!-- 操作日志 -->
    <dubbo:reference id="urightsLogService" interface="cxb.chen.urights.rpc.api.UrightsLogService" mock="true"/>
    <!-- 接口服务 -->
    <dubbo:reference id="urightsApiService" interface="cxb.chen.urights.rpc.api.UrightsApiService" mock="true"/>

</beans>